[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
prediction = ">=0.0.3"
"beautifulsoup4" = "==4.6.3"
pandas = "==0.23.4"
requests = "==2.20.0"
scikit-learn = "==0.19.2"
gunicorn = "*"
scipy = "*"
Flask = "==1.0.2"

[requires]
python_version = "3.6"
