beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
cycler==0.10.0
fanstatic==1.0.0
Flask==0.12.2
html5lib==1.0.1
hupper==1.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
js==1.0
kiwisolver==1.0.1
lxml==4.2.1
MarkupSafe==1.0
matplotlib==2.2.2
matplotlib-colorbar==0.3.5
matplotlib-label-lines==0.3.2
matplotlib-venn==0.11.5
numpy==1.14.2
pandas==0.22.0
PasteDeploy==1.5.2
Pillow==5.1.0
plaster==1.0
plaster-pastedeploy==0.5
pyparsing==2.2.0
PyQt5==5.10.1
pyramid==1.9.1
python-dateutil==2.7.2
pytz==2018.4
qt-backport==0.1.3
repoze.lru==0.7
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.1
shutilwhich==1.1.0
sip==4.19.8
six==1.11.0
sklearn==0.0
translationstring==1.3
urllib3==1.22
venusian==1.1.0
webencodings==0.5.1
WebOb==1.8.1
Werkzeug==0.14.1
WTForms==2.1
zope.deprecation==4.3.0
zope.interface==4.4.3
