<!DOCTYPE HTML>
<html>

<head>
	<title>IPL Prediction 2018</title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tags -->
	<!-- Stylesheet -->
	<link rel="stylesheet" href="../static/css/jquery-ui.css" />
	<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
	<link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico"/>
	<!-- //Stylesheet -->
	<!--fonts-->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600" rel="stylesheet">
	<!--//fonts-->
</head>

<body>
	<!--background-->
	<h1>IPL Match Prediction </h1>
	<div class="register-form-w3layouts">
		<!-- Form starts here -->
        <div class="clear">
		{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
				{% for message in messages %}
					{% if "Error" not in message[1]: %}
						<div class="flash-msg" role="alert" align="center" style="font-size: xx-large;color:  #5fbd00;font-style: normal;font-family: unset;font-weight: lighter;align-items:  stretch;">
						<strong></strong> {{ message[1] }}
						</div>
					{% endif %}
					{% if "Error" in message[1]: %}
						<div class="alert alert-warning">{{ message[1] }}</div>
					{% endif %}
				{% endfor %}
        	{% endif %}
		{% endwith %}
        <br>
		<form action="/submit" method=post onsubmit="">
			<h3 class="sub-heading-agileits">Match Details</h3>

			<div class="main-flex-w3ls-sectns">
				<!--<div class="field-agileinfo-spc form-w3-agile-text1">
					<input id="datepicker" name="Text" type="text" placeholder="Date of the Match" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}"
					    required="">
				</div>-->
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<select class="form-control" id="homeId" name="homeTeam" onchange="getStadium(this.value); checkSameTeam(this.value); ">
						<option selected disabled>Home Team</option>
						<option value="Mumbai">MI</option>
						<option value="Kolkata">KKR</option>
						<option value="Bangalore">RCB</option>
						<option value="Pune">CSK</option>
						<option value="Jaipur">RR</option>
						<option value="Delhi">DD</option>
						<option value="Dharamshala">KXIP</option>
						<option value="Hyderabad">SRH</option>
					</select>
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<select class="form-control" id="awayId" name="awayTeam" onchange="checkSameTeam(this.value); ">
						<option  selected disabled hidden>Away Team</option>
						<option value="Mumbai">MI</option>
						<option value="Kolkata">KKR</option>
						<option value="Bangalore">RCB</option>
						<option value="Pune">CSK</option>
						<option value="Jaipur">RR</option>
						<option value="Delhi">DD</option>
						<option value="Dharamshala">KXIP</option>
						<option value="Hyderabad">SRH</option>
					</select>
				</div>
				<div class="field-agileinfo-spc form-w3-agile-text1">
					<select class="form-control" name="tossWinner" id="toss" onmousedown="whichTeamHasWonToss()">
						<option selected disabled>Which Team Has Won The Toss</option>
					</select>
				</div>
			</div>
			<div class="main-flex-w3ls-sectns">

				<div class="field-agileinfo-spc form-w3-agile-text1">
						<input type="text" name="city" id="city" readonly/>
					</select>
				</div>
                <div class="radio-section">
                    <h6>Toss Decision?</h6>
                    <ul class="radio-buttons-w3-agileits" name="tossDecision">
                        <li>
                            <input type="radio" value="Bat" id="a-option" name="selector1">
                            <label for="a-option">Bat</label>
                            <div class="check"></div>
                        </li>
                        <li>
                            <input type="radio" value="Field" id="b-option" name="selector1">
                            <label for="b-option">Field</label>
                            <div class="check">
                                <div class="inside"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
			<input type="submit" value="Submit">
			<input type="reset" id="reset" value="Clear Form">
		</form>
        </div>
	</div>
	<!--copyright-->
	<div class="copyright">
		<!--<p>&copy; 2018. IPL Predictions . All Rights Reserved |  	</p>-->
	</div>
	<!--//copyright-->
	<script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>
	<!-- Calendar Js -->
	<script src="../static/js/jquery-ui.js"></script>
	<script>
		$(function () {
			$("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
		});
	</script>
	<script type="text/javascript" src="../static/js/javaScriptFunction.js"></script>

</body>

</html>
